.SearchBar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.SearchBar-autocomplete {
  width: 70% !important;
}
.SearchBar-button {
  width: 20% !important;
  max-height: 20px;
}
