.Header-root {
  flex-grow: 1;
}

.Header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.Header-Button {
  color: white !important;
}

.Header-Name {
  margin-right: 15px;
  margin-left: 3px;
  font-size: 30px !important;
  font-family: "Courier New";
}
