.AutoSuggest-div {
}
.AutoSuggest-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.AutoSuggest-autocomplete {
  width: 70% !important;
}
.AutoSuggest-button {
  width: 20% !important;
}
